#dictionary and executables
*.d
*.so
*.pcm

#root files
*.root

#files saved by editors
*.*~

#images and plots
*.pdf
*.png
*.jpeg
*.eps
*.gif

#other stuff
.lastlxplus

#development directory

development/*
Hgg_Revised/*

# TF model 
*.h5

